<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" />
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/static/site.css?3" />
	<!--<script type="text/javascript" src="/static/js/main.js?1"></script>-->

	<meta name="description" content="Personal site of William Moodhe">
    <meta name="keywords" content="">
	<!--<link rel="shortcut icon" href="/static/favicon.ico?1">-->

	<title>{{#if section_title}}{{{section_title}}} - {{/if}}average.website - William Moodhe's personal site</title>
</head>

<body>

<main>
	{{{body}}}
</main>

{{>footer}}

</body>
</html>
