<div class="skills">
	<h1>Skills</h1>

	<p class="center">Some things may be missing, these are just the major ones that people tend to look for.
	See my <a href="https://github.com/JetBoom">GitHub</a> for some code examples.</p>

	<div class="skillgroup">
		<div>
			<h3>Languages</h3>
			<ul>
				<li>JavaScript</li>
				<li>C++</li>
				<li>C</li>
				<li>C#</li>
				<li>Java</li>
				<li>PHP</li>
				<li>Python</li>
				<li>Lua</li>
				<li>VBA</li>
				<li>bash</li>
				<li>TypeScript</li>
				<li>SQL</li>
				<li>Groovy</li>
			</ul>
		</div>

		<div>
			<h3>Databases</h3>
			<ul>
				<li>MySQL</li>
				<li>Postgres</li>
				<li>NoSQL</li>
				<li>SQLite</li>
				<li>MongoDB</li>
			</ul>
		</div>

		<div>
			<h3>Backend</h3>
			<ul>
				<li>Node.js</li>
				<li>.NET</li>
				<li>Grails</li>
			</ul>
		</div>
	</div>

	<div class="skillgroup">
		<div>
			<h3>Frontend</h3>
			<ul>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>JavaScript</li>
				<li>MVC: React, Ember</li>
				<li>SASS / Less</li>
				<li>Handlebars</li>
				<li>jQuery</li>
			</ul>
		</div>

		<div>
			<h3>Web servers</h3>
			<ul>
				<li>NGINX</li>
				<li>Apache</li>
				<li>IIS</li>
			</ul>
		</div>

		<div>
			<h3>Linux</h3>
			<ul>
				<li>RedHat / CentOS</li>
				<li>Debian / Ubuntu</li>
			</ul>
		</div>
	</div>

	<div class="skillgroup">
		<div>
			<h3>Version Control &amp; Such</h3>
			<ul>
				<li>Git</li>
				<li>Subversion</li>
				<li>GitHub</li>
				<li>Bitbucket</li>
				<li>Jira</li>
			</ul>
		</div>

		<div>
			<h3>Other Keywords</h3>
			<ul>
				<li>System Administration</li>
				<li>Information Technology</li>
				<li>MEAN stack</li>
				<li>LAMP stack</li>
				<li>REST principles</li>
				<li>Virtual machines</li>
				<li>Clustering</li>
				<li>Atomic databases</li>
				<li>Game development</li>
			</ul>
		</div>

		<div>
			<h3>Programs &amp; Engines</h3>
			<ul>
				<li>Office / Excel</li>
				<li>Photoshop</li>
				<li>Source engine</li>
				<li>Unreal 4 engine</li>
				<li>Unity engine</li>
			</ul>
		</div>
	</div>
</div>
